.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  margin-top: -8%;
  position: relative;
  z-index: -1;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.card-content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: 20px;
  max-width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 10px 0; 
}

.description {
  font-size: 20px;
  margin: 0 0 -40% 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  max-width: 100%;
  display: -webkit-box;
  line-clamp: 7;
  -webkit-box-orient: vertical;
}

.description {
  font-size: 20px;
  margin: 0 0 -40% 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  line-clamp: 7;
  -webkit-box-orient: vertical;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  max-width: 50%;
}

