.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  font-size: 1rem;
}

.nav-actions {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar {
  width: 150px; /* Initial width */
  transition: width 0.3s ease-in-out; /* Smooth transition */
  margin-right: 1rem; /* Space between search bar and button */
  border: 0.5px solid white;
}

.search-bar.expanded {
  width: 250px; /* Expanded width */
}

.logout-button {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .nav-actions {
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar {
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .search-bar.expanded {
    width: 100%;
  }

  .logout-button {
    align-self: flex-end;
    margin-top: 1rem;
  }
}
